*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 100px;
  background-color: #170f23;
}

.music {
  max-width: 450px;
  margin: 0 auto;
  border-radius: 12px;
  background-image: linear-gradient(117deg, #8122c0, #60b0de, #160a5e 102%);
  box-shadow: rgba(250, 248, 248, 0.2) 0px 7px 29px 0px;
  padding: 20px 50px 50px;
}
.music-header {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}
.music-header-name {
  color: rgb(255, 255, 255);
}
.music-thumb {
  width: 150px;
  height: 150px;
  margin: 30px auto 25px;
}
.music-thumb img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.music-infomation {
  text-align: center;
  margin-bottom: 20px;
}
.music-infomation-name {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.music-infomation-single {
  color: #fff;
  font-weight: 400;
}
.music-range {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}
.music-range::-webkit-slider-runnable-track {
  background-color: #fff;
  height: 2px;
  cursor: pointer;
}
.music-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-image: linear-gradient(120deg, #8122c0, #60b0de, #160a5e 102%);
  margin-top: -6.4px;
  cursor: pointer;
  border: 2px solid #fff;
}
.music-range::-webkit-slider-thumb:hover {
  transform: scale(1.4);
  transition: 0.4s;
}
.music-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #fff;
  margin-bottom: 40px;
}
.music-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
  color: black;
}
.music-controls-play {
  position: relative;
}
.music-controls-play:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  transform: scale(1.5);
  border-radius: 100rem;
}
.music-controls-play-inner {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  background-image: linear-gradient(117deg, #8122c0, #60b0de, #160a5e 102%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.music-controls-play-inner-play, .music-controls-play-inner-pause {
  color: #fff;
}
.music-controls-play-inner-play:hover, .music-controls-play-inner-pause:hover {
  color: #f2eff3;
  transform: scale(1.2);
  transition: 0.4s;
}
.music-controls-repeat, .music-controls-infinite, .music-controls-prev, .music-controls-next {
  cursor: pointer;
  color: #fff;
  font-size: 1.4rem;
}
.music-controls-repeat:hover, .music-controls-infinite:hover, .music-controls-prev:hover, .music-controls-next:hover {
  opacity: 0.8;
  transform: scale(1.2);
  transition: 0.4s;
}

.hide {
  display: none;
}

.active {
  color: #ec2f93;
}

.rotate {
  animation: spinner 10s infinite linear;
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=app.css.map */
