*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 100px;
  background-color: #170f23;
}

.music {
  max-width: 450px;
  margin: 0 auto;
  border-radius: 12px;
  background-image: linear-gradient(117deg, #8122c0, #60b0de, #160a5e 102%);
  box-shadow: rgba(250, 248, 248, 0.2) 0px 7px 29px 0px;
  padding: 20px 50px 50px;

  &-header {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;

    &-name {
      color: rgb(255, 255, 255);
    }
  }

  &-thumb {
    width: 150px;
    height: 150px;
    margin: 30px auto 25px;

    & img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-infomation {
    text-align: center;
    margin-bottom: 20px;

    &-name {
      font-size: 18px;
      font-weight: 600;
      color: #fff;
    }

    &-single {
      color: #fff;
      font-weight: 400;
    }
  }

  &-range {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */

    &::-webkit-slider-runnable-track {
      background-color: #fff;
      height: 2px;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-image: linear-gradient(120deg, #8122c0, #60b0de, #160a5e 102%);
      margin-top: -6.4px;
      cursor: pointer;
      border: 2px solid #fff;
      &:hover {
        transform: scale(1.4);
        transition: 0.4s;
      }
    }
  }

  &-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
  }

  &-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 50px; // đây là cách viết tắt của row-gap và column-gap (giá trị đầu là row giá trị sau là column)
    color: black;

    &-play {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        // background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86c);
        background: #fff;
        transform: scale(1.5);
        border-radius: 100rem;
      }

      &-inner {
        width: 40px;
        height: 40px;
        border-radius: 100rem;
        background-image: linear-gradient(
          117deg,
          #8122c0,
          #60b0de,
          #160a5e 102%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        font-size: 20px;
        position: relative;
        z-index: 2;

        &-play,
        &-pause {
          color: #fff;
        }

        &-play:hover,
        &-pause:hover {
          color: #f2eff3;
          transform: scale(1.2);
          transition: 0.4s;
        }
      }
    }

    &-repeat,
    &-infinite,
    &-prev,
    &-next {
      cursor: pointer;
      color: #fff;
      font-size: 1.4rem;

      &:hover {
        opacity: 0.8;
        transform: scale(1.2);
        transition: 0.4s;
      }
    }
  }
}

.hide {
  display: none;
}

.active {
  color: #ec2f93;
}

.rotate {
  animation: spinner 10s infinite linear;
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
